body {
    background-color: black;
    color: white;
    margin: 0;
}

#birth-death {
    display: block;
}

#goghPhoto {
    width: 300px;
    float: left;
}

#painting {
    clear: both;
}

p {
    display: inline;
}



